{% extends 'layout.html.twig' %}

{% block contents %}
 	{% if book.image %}
        <img src="{{ app.request.basepath }}/uploads/{{ book.image }}.jpg" />
    {% endif %}
    <p>{{ book.synopsis }}<p>
    {% if exemplaires != null %}
    	<strong>Liste des exemplaires disponibles ({{ exemplaires|length }}) :</strong>
	    <ul class="list-group">
		    {% for exemplaire in exemplaires %}
		    	<li class="list-group-item">
		    		<div class="row">
		    			<div class="col-sm-10">Identifiant : {{ exemplaire.id }}</div>
			    		{% if app.session.get('admin') %}
			    			<div class="col-sm-2"><a class="btn-primary btn" href="{{ path('emprunt', {id: book.id, exemplaire: exemplaire.id}) }}">Emprunter</a></div>
			    		{% endif %}
			    	</div>
		    	</li>
		    {% endfor %}
		</ul>
	{% endif %}
	{% if exemplairesIndispo != null %}
    	<strong>Liste des exemplaires indisponibles ({{ exemplairesIndispo|length }}) :</strong>
	    <ul class="list-group">
		    {% for exemplaireIndispo in exemplairesIndispo %}
		    	<li class="list-group-item">
		    		<div class="row">
			    		<div class="col-sm-2"><strong>Identifiant : </strong>{{ exemplaireIndispo.exemplaire }}</div>
			    		<div class="col-sm-3"><strong>Retour prévu : </strong>{{ exemplaireIndispo.fin }}</div>
			    		{% if app.session.get('admin') %}
			    			<div class="col-sm-2"><strong>Emprunter par : </strong>{{ exemplaireIndispo.personne }}</div>
			    			<div class="col-sm-3"><strong>Le : </strong>{{ exemplaireIndispo.debut }}</div> 
			    			<div class="col-sm-2"><a class="btn-danger btn" href="{{ path('retourne', {exemplaire: exemplaireIndispo.exemplaire}) }}">Retourner</a></div>
			    		{% endif %}
		    		</div>
		    	</li>
		    {% endfor %}
		</ul>
	{% endif %}
{% endblock %}