{% extends 'layout.html.twig' %}

{% block contents %}
<form method="post" enctype="multipart/form-data">
<strong>Nom de l'emprunteur :</strong><br/>
<input class="form-control" type="text" name="name" required />
<strong>Date de fin d'emprunt :</strong><br/>
<input class="form-control" type="date" name="datefin" required />
<br/>
<input id="valide" class="btn btn-success" type="submit" value="Enregistrer" />
</form>
{% endblock %}
