{% set emprunts_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
<ul class="list-group">
{% for emprunt in emprunts %}
	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-3"><strong>Livre : </strong>{{ emprunt.titre }}</div>
			<div class="col-sm-3"><strong>Exemplaire : </strong>{{ emprunt.exemplaire }}</div>
		</div>
		<div class="row">
			<div class="col-sm-3"><strong>Emprunter par : </strong>{{ emprunt.personne }}</div>
			<div class="col-sm-3"><strong>Date debut : </strong>{{ emprunt.debut }}</div>
			<div class="col-sm-3"><strong>Date fin : </strong>{{ emprunt.fin }}</div>
			<div class="col-sm-3"><strong>Retourner : </strong>{% if emprunt.fini == 1 %}Oui{% else %}Non{% endif %}</div>
		</div>
	</li>
{% endfor %}
</ul>
{% endblock %}